name: Docs

on:
    push:
        branches:
            - main
        paths:
            - "docs/**"

defaults:
    run:
        working-directory: docs

jobs:
    docs:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@master

            - name: Setup node env
              uses: actions/setup-node@v2.1.2
              with:
                  node-version: ${{ matrix.node }}

            - name: Install dependencies
              run: npm i

            - name: Generate
              run: npm run generate

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
